.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-container {
  display: flex;
  text-align: center;
  font-weight: bold;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
